* {
    box-sizing: border-box;
    font-family: 'Opetima', Arial, Helvetica, sans-serif;
}

body {
    background-color: #d0c2d6;
}

header {
    padding: 20px;
    background-color: hsl(294, 17%, 45%);
    color: #fbf7f7;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
}

header h1 {
    font-weight: lighter;
}

header ul {
    list-style-type: none;
    display: inline-flex;
}

header li {
   flex-wrap: wrap;
   margin-right:10px;
   margin-left: 10px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

div {
    background-color: hsla(289, 21%, 65%, 0.435); /* just to see the boxes */
    margin: 1.1%;
    text-align: center;
}

.banner {
    padding: 10px;
    color: hsl(0, 0%, 0%);
    justify-content: space-evenly; 
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 100px;
    margin-right: 100px;
    border: groove;
    border-width: 5px;
    border-color: black;
    border-radius: 20px;
}

.banner p {
    align-items: center; 
}
.banner img {
    float: left;
    width: 14%;
    border-radius: 50%;
    border-color: black;
    border-style: dotted;
    border-width: medium;
}

main {
    font-family: 'Opetima', Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.projectbox {
   
    background-color: hwb(295 39% 47%);
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    border: 3px solid hsla(289, 57%, 62%, 0.435);
    text-align: center;
    margin: 20px;
    
}

.proj1 {
    margin-bottom: 1%;
    width: 80.7%;
    height: 300px;
    background-color: hsla(289, 57%, 62%, 0.435); 
    background-image: url("./images/mainproj.jpg");
    filter: grayscale(50%);
    background-repeat: repeat;
    color: #ffffff;
    justify-content: center;
    position: relative;
    font-family: 'Opetima', Arial, Helvetica, sans-serif;
    border: groove;
    border-width: 5px;
    border-color: black;
}

.projx {
    width: 20%;
    min-width: 400px;
    height: 300px;
    background-color: #d6a3ec;
    color: #ffffff;
    background-position: 20% 20%;
    margin: 20px;
    border: groove;
    border-width: 5px;
    border-color: black;

}   
#my-work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.projx {
    display: inline-flex;
    padding: 30px;
    position: relative
}

.projxRepo {
    background-color:  hsl(294, 17%, 45%);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 200px;
    border: 3px solid hsla(289, 57%, 62%, 0.435);
}

#firstRepo {
    background-image: url(./images/firstRepo.jpg);
    background-size: cover;
}

#proj2 {
    background-image: url(./images/proj2.jpg);
    background-size: cover;
}

#proj3 {
    background-image: url(./images/proj3.jpg);
    background-size: cover;
}

#proj4 {
    background-image: url(./images/proj4.jpg);
    background-size: cover;
}

#proj5 {
    background-image: url(./images/proj5.jpg);
    background-size: cover;
}

.story {
    margin: 100px; 
    margin-top: 25px;
    margin-bottom: 45px;
    padding: 5%;
    background-color: hsla(289, 31%, 49%, 0.435); 
    text-align: center;
    line-height: 25px;
    border: groove;
    border-width: 5px;
    border-color: black;
    border-radius: 20px;
}

footer {
    padding: 30px;
    text-align: center;
    background-color:hsl(294, 17%, 45%);
    flex-wrap: wrap;
    flex-direction: row;
    color: #ffffff; 
}

footer h4 {
    font-size: 20px;
}

footer ul {
    list-style-type: none;
    justify-content: space-around;
}

footer li {
    display: inline-flex;
    margin-left: 25px;
    font-family: Opetima, Arial, Helvetica, sans-serif;
}
